

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    background: radial-gradient(#000000, #2d2d2d);
}

header{
    margin: 0px;
}

header h1{
    text-align: center;
    color: #2CFF05;
    font-weight: 800;
    font-family: "Press Start 2P", system-ui;
    padding: 100px;
    size: 100px;
}

.beat-visual{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.beats{
    justify-content: center;
    display: flex;
    gap: 30px;
    box-shadow: white;
}

.beats button{
    width: 70px;
    height: 70px;
    background: radial-gradient(#a7ff9c, #2CFF05);
    border-radius: 1rem;
}

.beats button:hover{
    background: radial-gradient(#bf00bf, #ffe3ff)
}

 .box{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid black;
    background: linear-gradient(#2CFF05,#0c4601)

}

.tempo-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

#start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

